<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>
    <%= @greeting %>, thanks for requesting blood from lifluid
    <% blood_bank_record = BloodBank.find_by(user_id: @current_user['id'])%>
    Your Request accepted by <strong><%= blood_bank_record['name']%></strong> and the requested blood will deliver today.
  </p>
  
</body>
</html>
